In [1]:
from mri_dataset import MRI_Dataset
from matplotlib import pyplot as plt
import random
import pandas as pd
import csv

from torchvision.transforms import RandAugment

In [3]:
#dataset = MRI_Dataset('/Users/olath/Documents/GitHub/Master-thesis/test', '/Users/olath/Documents/ADNI_SLICED/')

transform = RandAugment(magnitude = 0, num_ops= 0)

dataset2 = MRI_Dataset('/Users/olath/Documents/GitHub/Master-thesis/Datasets/reference_all_classes_timewindow.csv', '/Users/olath/Documents/ADNI_SLICED_RESCALED/', slice = 21, orientation = 'SAGITTAL')

In [11]:
#bad_image_list = list()

bad_images = pd.read_csv("/Users/olath/Documents/GitHub/Master-thesis/Run_Experiments/bad_images_saggital.csv")
bad_image_list = bad_images['IMAGE_ID'].tolist()

In [9023]:
idx =7646

In [9247]:
print(dataset2.__len__())
print(idx)
data = dataset2.__getitem__(idx)
image = data[0]
image = image.cpu()
plt.imshow(image.permute(1, 2, 0))
ID = data[2]
print(ID)
idx += 1

7868
7868

IndexError: single positional indexer is out-of-bounds

In [9025]:
if ID not in bad_image_list:
    bad_image_list.append(ID)
    print('Image: ' + str(ID) + ' added successfully')
else:
    print('Image already in list')
print(bad_image_list)
print(len(bad_image_list))

Image: 19778 added successfully
[378614, 75529, 119550, 134227, 166710, 80815, 90460, 295150, 42711, 255597, 100003, 78046, 437013, 265167, 257512, 435661, 228842, 317533, 11739, 24618, 59845, 91584, 135611, 167648, 149696, 101894, 170756, 170762, 258939, 128894, 162465, 56397, 84563, 133856, 77450, 207222, 614787, 55505, 82057, 131183, 131184, 159563, 50386, 76760, 88822, 1597858, 1597859, 38378, 38379, 31173, 437044, 37639, 63347, 114599, 44504, 30440, 106199, 33276, 56370, 1334455, 1334456, 83729, 99365, 139137, 10883395, 38125, 55095, 103821, 41432, 115699, 102268, 105982, 29103, 141921, 96162, 144319, 72623, 129934, 10958385, 72662, 91545, 138180, 24156, 41379, 97317, 71710, 16154, 25708, 103181, 100686, 26059, 48204, 102599, 143405, 90710, 114482, 153405, 190995, 248240, 487921, 384880, 90275, 82922, 16362, 40927, 106310, 143394, 37796, 72962, 367839, 367840, 386431, 385794, 442477, 41783, 487337, 362996, 33251, 57092, 84235, 145230, 90431, 1441915, 127388, 361056, 416136, 497588, 57684, 217505, 77692, 235590, 84916, 287237, 287239, 342013, 342015, 392466, 392473, 506429, 506434, 898940, 118425, 137971, 187656, 38299, 153755, 101826, 393280, 53470, 85308, 102617, 85146, 73427, 98100, 49449, 16244, 143658, 58649, 495119, 56614, 55847, 84151, 99756, 87883, 89532, 436304, 436310, 103245, 436463, 49143, 76683, 96187, 41647, 53290, 83882, 102583, 213220, 271651, 351058, 470182, 58311, 95313, 27176, 78179, 100759, 41298, 346136, 91098, 160789, 41244, 23373, 38195, 38022, 41845, 71034, 71035, 88468, 88468, 88469, 88609, 88609, 88610, 88924, 88925, 139452, 176995, 224500, 362561, 362567, 424987, 10117, 24249, 47780, 74852, 120668, 157191, 8314, 8979, 86268, 42754, 23282, 39932, 7055, 72766, 11211, 72742, 8669, 47552, 379681, 38102, 9171, 434655, 64725, 25960, 42544, 30233, 55476, 55630, 42333, 30924, 29711, 32472, 19778]
243

In [ ]:
bad_image_list

[378614,
 75529,
 119550,
 134227,
 166710,
 80815,
 90460,
 295150,
 42711,
 255597,
 100003,
 78046,
 437013,
 265167,
 257512,
 435661,
 228842,
 317533,
 11739,
 24618,
 59845,
 91584,
 135611,
 167648,
 149696,
 101894,
 170756,
 170762,
 258939,
 128894,
 162465,
 56397,
 84563,
 133856,
 77450,
 207222,
 614787,
 55505,
 82057,
 131183,
 131184,
 159563,
 50386,
 76760,
 88822,
 1597858,
 1597859,
 38378,
 38379,
 31173,
 437044,
 37639,
 63347,
 114599,
 44504,
 30440,
 106199,
 33276,
 56370,
 1334455,
 1334456,
 83729,
 99365,
 139137,
 10883395,
 38125,
 55095,
 103821,
 41432,
 115699,
 102268,
 105982,
 29103,
 141921,
 96162,
 144319,
 72623,
 129934,
 10958385,
 72662,
 91545,
 138180,
 24156,
 41379,
 97317,
 71710,
 16154,
 25708,
 103181,
 100686,
 26059,
 48204,
 102599,
 143405,
 90710,
 114482,
 153405,
 190995,
 248240,
 487921,
 384880,
 90275,
 82922,
 16362,
 40927,
 106310,
 143394,
 37796,
 72962,
 367839,
 367840,
 386431,
 385794,
 442477,
 41783,
 487337,
 362996,
 33251,
 57092,
 84235,
 145230,
 90431,
 1441915,
 127388,
 361056,
 416136,
 497588,
 57684,
 217505,
 77692,
 235590,
 84916,
 287237,
 287239,
 342013,
 342015,
 392466,
 392473,
 506429,
 506434,
 898940,
 118425,
 137971,
 187656,
 38299,
 153755,
 101826,
 393280,
 53470,
 85308,
 102617,
 85146,
 73427,
 98100,
 49449,
 16244,
 143658,
 58649,
 495119,
 56614,
 55847,
 84151,
 99756,
 87883,
 89532,
 436304,
 436310,
 103245,
 436463,
 49143,
 76683,
 96187,
 41647,
 53290,
 83882,
 102583,
 213220,
 271651,
 351058,
 470182,
 58311,
 95313,
 27176,
 78179,
 100759,
 41298,
 346136,
 91098,
 160789,
 41244,
 23373,
 38195,
 38022,
 41845,
 71034,
 71035,
 88468,
 88468,
 88469,
 88609,
 88609,
 88610,
 88924,
 88925,
 139452,
 176995,
 224500,
 362561,
 362567,
 424987,
 10117,
 24249,
 47780,
 74852,
 120668,
 157191,
 8314,
 8979,
 86268,
 42754,
 23282,
 39932,
 7055,
 72766]

In [9248]:
with open("bad_images_saggital.csv", 'w', newline='') as myfile:
     wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
     wr.writerow(['IMAGE_ID'])
     for image in bad_image_list:
          wr.writerow([int(image)])

In [9249]:
csv1 = pd.read_csv("bad_images_saggital.csv")
csv1

     IMAGE_ID
0      378614
1       75529
2      119550
3      134227
4      166710
..        ...
238     42333
239     30924
240     29711
241     32472
242     19778

[243 rows x 1 columns]